.left-section {
    border: 3px solid red;
    /* color: white; */
}

.right-section {
    border: 3px solid green;
    /* color: white; */
}

html, body {
    /* COME HERE IF NEWLY CREATED DIV ELEMENTS HAVE THIS DIV'S BACKGROUND COLOR */
    margin: 0;
    padding: 0;
    background-color: purple;
}

.outer-frame {
    height: 100vh;
    background-color: white;
}

.send-button-div {

    border: 3px solid;
}

div {
    border: 1px solid;
}

.chat-input {
    width: 100%;
}

.outest-frame {
    border: 2px solid yellow;
    /* height: 100vh; */
    overflow: hidden;
}
