.left-section {
    border: 3px solid red;
    /* color: white; */
}

.right-section {
    border: 3px solid green;
    /* color: white; */
}

body {
    background-color: purple;
}

.outer-frame {
    height: 90vh;
    width: auto;
    background-color: white;
}

.send-button-div {
    
    border: 3px solid;
}

div {
    border: 1px solid;
}